# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.db
*.db-journal
*.hprof
*.lock
*.log
*.xml
*.bin
*.json
*.orig
*.rej
*.bak
*.swp
*.swo
*.tmp
*.temp
*.out
*.pyc
*.pyo
*.pyd
__pycache__/
*.jks
*.keystore